<div ng-controller="DashboardCtrl">
  <div class="column menu" id="dashboardmenu">
    <img src="./styles/img/bear.png" height="100" width="100">
    <h1> Dashboard </h1>
    <br>
    <ul class="nav nav-pills nav-stacked">
      <li ng-click="changeLocation('/profile')" class="btn btn-warning" id="menubutton">Profile</li>
      <br>
      <li ng-click="changeLocation('/analytics')" class="btn btn-warning" id="menubutton">Analytics</li>
      <br>
      <li ng-click="changeLocation('/login')" class="btn btn-warning" id="menubutton">Logout</li>
    </ul>
    <br>
  </div>
  <br>
  <div class="column gamecontainer">
  <h1 style="text-align: center; color:#FFFF99;">Let's Learn Together️!</h1>
  <h3 style="text-align: center; color:#FFFF99;">Click to play</h3>
  <br>
  <br>
    <img src="assets/game1haunted.gif" id="gameimg" ng-click="changeLocation('/game')">
    <img src="assets/fractionfun.gif" id="gameimg" ng-click="changeLocation('/game2')">
    <img src="assets/cellshootout.gif" id="gameimg" ng-click="changeLocation('/game3')">
  </div>
</div>
