/*
login
*/

#login-page {
	position: relative;
  height: 700px;
  width: 100%;
	background: url("/styles/img/background.jpg");
	background-color: #AFEEEE;
  background-size: cover;
}

.jumbotron {
	text-align: center;
	width:35rem;
	height: 50rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 5rem auto;
	margin-top: 8rem;
	background-color: white;
}



.container .glyphicon-list-alt {
	font-size: 10rem;
	margin-top: 3rem;
	color: #f96145;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.6rem;
	border: none;
	font-family: 'Baloo Bhaina', cursive;

}

h2 {
	font-weight: bold;
	color: #F4A460;
	font-family: 'Baloo Bhaina', cursive;
}

h3 {
	font-size: 15px;
	font-family: 'Baloo Bhaina', cursive;
	color: #81CFE0;
	font-weight: bold;
}

h4 {
	font-size: 15px;
	font-family: 'Baloo Bhaina', cursive;
	color:	#A9A9A9;
}


.btn {
	border-radius: 0.6rem;
	font-family: 'Baloo Bhaina', cursive;
}

.full-width {
	background-color: #8eb5e2;
	width: 100%;
	border-radius: 0.6rem;

}

.box {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
	border-radius: 0.6rem;
}


/*
signup
*/

