/*
login
*/

#login-page {
  position: relative;
  height: 700px;
  width: 100%;
/*  background: url("/styles/img/background.jpg");*/
  background-color:#89C4F4;
  background-size: cover;
}


html {

  background-color:#89C4F4;
  background-size: cover;

}

.game{

  background-color:#89C4F4;

}

.jumbotron {
  text-align: center;
  width:35rem;
  height: 50rem;
  border-radius: 0.8rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 5rem auto;
  margin-top: 6.7rem;
  background-color: white;
}

.container .glyphicon-list-alt {
  font-size: 10rem;
  margin-top: 3rem;
  color: #f96145;
}

input {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  background-color: #ecf2f4;
  border-radius: 0.6rem;
  border: none;
  font-family: 'Baloo Bhaina', cursive;

}

label {
  text-align: left;
  font-family: 'Baloo Bhaina', cursive;

}


.dashboard {
  background-color: white;
}

h1 {
  font-weight: bold;
  color: #F4A460;
  font-family: 'Baloo Bhaina', cursive;
}

h2 {
  font-weight: bold;
  color: #F4A460;
  font-family: 'Baloo Bhaina', cursive;
}

h3 {
  font-size: 15px;
  font-family: 'Baloo Bhaina', cursive;
  color: #81CFE0;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  font-family: 'Baloo Bhaina', cursive;
  color:  #A9A9A9;
}


.btn {
  border-radius: 0.6rem;
  font-family: 'Baloo Bhaina', cursive;
}

.full-width {
  background-color: #8eb5e2;
  width: 100%;
  border-radius: 0.6rem;

}

.box {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 0.6rem;
}


/*
signup
*/

.signup {
  position: relative;
  height: 700px;
  width: 100%;
/*  background: url("/styles/img/background.jpg");*/
  background-color: #89C4F4;
}


.signupform {
  text-align: center;
  width: 55rem;
  height: 900px;
  border-radius: 0.8rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 5rem;

  margin: 5rem auto;
  background-color: white;
  padding: 5px;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtnCompare{
    background-color: #F77918;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropbtnCompare {
    background-color: #760B6A;
}

/*.div{ background: navy !important; }  Adding !important forces the browser to overwrite the default style applied by Bootstrap
*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #951E40;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

/*dashboard*/

.column {
  float: left;
}

.menu {
  background-color: white;
  height: 1000px;
  text-align: center;
  border-radius: 0.1rem;
  padding: 60px;
  width: 30%;
  float: left; 
}

.gamecontainer{
  float: none; 
  width: auto;
}

.ng-scope {
  background-color: #89C4F4;
}

.header  {
  background-color: #89C4F4;
  width: 100%;
  height: 0px;
}

#menubutton {
  background-color: #9ACD32;
  border-color: #9ACD32;
}

#gameimg {
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 0.8rem;
  margin: 40px;

}

