<div>
  <h2> game.html </h2>
  <div ng-controller = "GameCtrl">
    <p> Timer: {{timer}} </p>
    <p>Score: {{score}}</p>
    <p> Highscore: {{highScore}} </p>

    <button ng-click="start()">
      Start Game
    </button><br><br>

    <button ng-click="getAllUsers()">
      Get all users
    </button>

    <div>
      <form ng-submit="checkAnswer(input_sum)">
        <p> {{variable1}} + {{variable2 }} = </p><input type="number" ng-model="input_sum">
        <input type="submit" value="Submit">
      </form>
    </div>

    <p> input sum: {{input_sum}} </p>
    <p> actual sum: {{sum}}
    <p> points: {{points}} </p>

<!--     <div>
      <ul ng-repeat="user in allUsers track by $index"><li> {{ user }}</li></ul>

    </div> -->

  </div>

</div>