<div ng-controller="AnalyticsCtrl" class="analytics text-center" style="background-color:white">
<div class ="page-header">
  <img src="./styles/img/bear.png" height="100" width="100">
  <h1>Analytics! </h1>
  <h3>Learn through Play</h3>
</div>
  <button ng-click="changeLocation('/dashboard')" class="btn btn-warning">Dashboard</button><br>

  <h1 ng-repeat="compare in comparisons">{{compare}}</h1>
  <h3>{{subject}}</h3>
  <h4>Evaluating {{parameter}}</h4>

  <div style="display: inline-block; width: 40%; height: 25%;">
  <canvas id="line" class="chart chart-line"  chart-data="data"
  chart-labels="labels" chart-series="series" chart-options="options"
  chart-dataset-override="datasetOverride" chart-click="onClick" >
  </canvas>
 </div>

  <div style="display: inline-block; width: 40%; height: 25%;">
  <canvas id="line" class="chart chart-line"  chart-data="compareData"
  chart-labels="compareLabels" chart-series="compareSeries" chart-options="options"
  chart-dataset-override="compareDatasetOverride" chart-click="onClick" >
  </canvas>
 </div>



  <br>
  <br>
  <div class= "text-center">
  <div class="dropdown">
  <button class="dropbtn">Which game would you like data on?</button>
  <div class="dropdown-content">
    <a value = "game1" ng-click= "setGame($event)">Pythagoras' Haunted House</a>
    <a value = "game2" ng-click= "setGame($event)">Fraction Fun!</a>
    <a value = "game3" ng-click= "setGame($event)">Cellular Shootout</a>
  </div>

</div>


  <div class="dropdown">

    <button class="dropbtn">What scope of data would you like to see?</button>
     <div class="dropdown-content">
       <a value = "all" ng-click= "setDataViewType($event)">All Class</a>
      <a value = "combined" ng-click= "setDataViewType($event)">Combined</a>
    </div>
  </div>
  <div class="dropdown">

  <button class="dropbtn">What Parameter would you like to evaluate?</button>
  <div class="dropdown-content">
    <a value = "time" ng-click="setParameter($event)">Points</a>
    <a value = "feeling" ng-click= "setParameter($event)">Feeling</a>
    <a value = "points" ng-click= "setParameter($event)">Time</a>
  </div>
</div>

<div class="dropdown">

 <button class="dropbtnCompare">Compare Against: Game?</button>
  <div class="dropdown-content">
    <a value = "game1" ng-click= "setCompareGame($event)">Pythagoras' Haunted House</a>
    <a value = "game2" ng-click= "setCompareGame($event)">Fraction Fun!</a>
    <a value = "game3" ng-click= "setCompareGame($event)">Cellular Shootout</a>
  </div>

</div>

  <div class="dropdown">

    <button class="dropbtnCompare">Compare Against: Data View?</button>
     <div class="dropdown-content">
       <a value = "all" ng-click= "setCompareDataViewType($event)">All Class</a>
      <a value = "combined" ng-click= "setCompareDataViewType($event)">Combined</a>
    </div>
  </div>
  <div class="dropdown">

  <button class="dropbtnCompare">Compare Against: Parameter</button>
  <div class="dropdown-content">
    <a value = "time" ng-click="setCompareParameter($event)">Points</a>
    <a value = "feeling" ng-click= "setCompareParameter($event)">Feeling</a>
    <a value = "points" ng-click= "setCompareParameter($event)">Time</a>
  </div>
</div>


<br><br><br>


    <div class='text-center' style="background-color:white" >
    <table class="table table-bordered table-striped">
   <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'subject'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'subject' && sortReverse " class="fa fa-caret-down"></span>
          Age
          </a>
        </td>
      <td>
          <a href="#" ng-click="sortType = 'feeling'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'feeling' && sortReverse" class="fa fa-caret-down"></span>
          Grade
          </a>
        </td>
      <td>
          <a href="#" ng-click="sortType = 'grade'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'grade' && sortReverse" class="fa fa-caret-down"></span>
          Performance
          </a>
        </td>
      </tr>
    </thead>
  <tbody>
  <tr ng-repeat='data in dataTable | orderBy:sortType:sortReverse | filter:searchNames'>
    <td>
      {{data.studentName}}</td>
    <td>{{data.studentGrade}}</td>
    <td>{{data.studentAge}}</td>
    <td>{{data.studentPerformance}}</td>
  </tr>
  </tbody>
</table>

 <table class="table table-bordered table-striped">
   <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'subject'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'subject' && sortReverse " class="fa fa-caret-down"></span>
          Age
          </a>
        </td>
      <td>
          <a href="#" ng-click="sortType = 'feeling'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'feeling' && sortReverse" class="fa fa-caret-down"></span>
          Grade
          </a>
        </td>
      <td>
          <a href="#" ng-click="sortType = 'grade'; sortReverse = !sortReverse">
          <span ng-show="sortType == 'grade' && sortReverse" class="fa fa-caret-down"></span>
          Performance
          </a>
        </td>
      </tr>
    </thead>
  <tbody>
  <tr ng-repeat='data in compareDataTable | orderBy:sortType:sortReverse | filter:searchNames'>
    <td>
      {{data.studentName}}</td>
    <td>{{data.studentGrade}}</td>
    <td>{{data.studentAge}}</td>
    <td>{{data.studentPerformance}}</td>
  </tr>
  </tbody>
</table>
    </div>
</div>
</div>