<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<div ng-controller="LoginCtrl">
	<div id="login-page">
		<div class="container">
			<div class="jumbotron">
				<h3>"Learn best when they are taught through play and in a fun way"</h3> 
				<img src="./styles/img/bear.png" height="100" width="100">
				<h2>FUN LEARNING</h2>
				<div class="box">
					<form class="login" ng-submit='getSingleUser()'>
						<input type="text" placeholder="Enter your Username" ng-model="username">
						<input type="password" placeholder="password" placeholder="Enter your Password" ng-model="password">
						<button class="btn btn-lg btn-primary btn-block" type="submit"> Sign In </button>
						<br> </form>
					<h4>You don't have an account? <a href="#/signup">Sign up</a> here!</h4> </div>
				<br> </div>
		</div>
	</div>
</div>