<div ng-controller="LoginCtrl">
  <form class="container" ng-submit='getSingleUser()'>
    <div class="row main">
      <div class="main-login main-center">
        <h5>Fun Learning!</h5>

          <label for="name" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" ng-model="username"/>
            </div>
          </div>

          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model="password"/>
            </div>
          </div>

          <input type="submit" value = 'Login' id="button" class="btn btn-primary btn-lg btn-block login-button">
      </div>
    </div>
  </form>
</div>

